<!doctype html>
<html>
  <head>
    <title>Admin Area</title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <a href="/">Back home</a>
    <%= yield %>
    <%= partial "footer" %>
  </body>
</html>